.vscode/

code/Backend/admin-ui/node_modules/
code/Backend/data/covers/
code/Frontend/node_modules/
code/VirtualEnv/

code/archives/data/
code/archives/datasets_archives.zip

*.log

.cache/
eslintcache

*.tmp
*.swp
.DS_Store
Thumbs.db

backend/.env
frontend/.env
documents/obsolete/*
*.bak

obsidian/.obsidian/