.vscode/

code/backend/venv/

code/frontend/ridizi/node_modules/
code/frontend/ridizi/package-lock.json

code/frontend/ridizi/firebaseConfig.jsx

code/archives/data/
code/archives/datasets_archives.zip

*.log

.cache/
eslintcache

*.tmp
*.swp
.DS_Store
Thumbs.db

backend/.env
frontend/.env
documents/obsolete/*
*.bak

obsidian/.obsidian/