.addBook {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
    max-width: 60vw;

    button {
        margin-top: 20px;
        padding: 10px 15px;
        background-color: #4caf50; // couleur de fond verte
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #45a049; // une teinte plus foncée de vert au survol
        }
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgba(0, 255, 255, 0);

        .formElement {
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 0, 0, 0);
            width: 40%;
            margin: 15px;
            padding: 10px;
            border: #000 1px solid;

            textarea,
            input,
            select {
                padding: 10px;
                margin: 5px 0;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                transition: border-color 0.3s ease;
            }

            textarea {
                resize: vertical;
                height: 80px;
            }
        }

    }

    .a {
        padding: 10px 15px;
        background-color: #fabfbf9e;

        &:hover {
            background-color: #fabfbfc7;
        }
    }
}